<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.startuplab.dao.WebDAO">

    <!-- insertDatas 시작 -->
    <insert id="insertDatas" parameterType="com.startuplab.vo.Datas">
        <selectKey resultType="int" keyProperty="data_id" order="AFTER">
         SELECT LAST_INSERT_ID()
      </selectKey>
        INSERT INTO datas (work_id, assignment_id,data_json, user_id, data_status, create_time, update_time)
        VALUES (#{work_id}, #{assignment_id}, #{data_json}, #{user_id}, #{data_status}, now(), now())
    </insert>

    <sql id="where_datas_list">
        <where>
            <if test="data_id != 0 "> and d.data_id = #{data_id} </if>
        </where>
    </sql>
    <select id="getDatasList" resultType="com.startuplab.vo.Datas" parameterType="com.startuplab.common.vo.SearchParam">
        select d.*      
        from datas d
        <include refid="where_datas_list" />
        order by d.data_id
    </select>
    <!-- insertDatas 끝 -->

    <!-- updateDatas 시작 -->
    <update id="updateDatas" parameterType="com.startuplab.vo.Datas">
        UPDATE datas
        <set>
            <if test="data_json != null"> data_json = #{data_json}, </if>
            <if test="data_status != 0"> data_status = #{data_status}, </if>
            <if test="user_id != 0"> user_id = #{user_id}, </if>
            <if test="assignment_id != 0"> assignment_id = #{assignment_id}, </if>
            update_time = now()
        </set>
        WHERE data_id = #{data_id}
    </update>
    <!-- updateDatas 끝 -->
    <!-- selectDatas 시작 -->

    <select id="selectDatas" resultType="com.startuplab.vo.Datas" parameterType="com.startuplab.vo.Datas">
        select d.*  
		, fn_get_code_name('data_status', d.data_status) data_status_name    
        from datas d
        <where>
            and d.work_id = #{work_id}
            <if test="data_id != 0"> and d.data_id = #{data_id} </if>
            <if test="user_id != 0"> and d.user_id = #{user_id} </if>
            <if test="data_status != 0"> and d.data_status = #{data_status} </if>
        </where>
    </select>

    <!-- selectUser 시작 -->
    <select id="selectUser" resultType="com.startuplab.vo.User" parameterType="com.startuplab.vo.User">
        select u.*
        , fn_get_code_name('user_type', u.user_type) user_type_name
		, fn_get_code_name('user_status', u.user_status) user_status_name
        from users u
        <where> 
            <if test="assignment_id == 0"> 1=1 </if>
            <if test="assignment_id != 0"> and u.assignment_id = #{assignment_id} </if>
            <if test="user_status != null"> and u.user_status = #{user_status} </if>

            and u.user_type = 2
        </where>
        
    </select>

    <!-- selectUser 끝 -->
    <!-- workDistribute 시작 -->
    <update id="workDistribute">
        UPDATE datas
        <set>
            user_id = #{user_id}, data_status = 2, update_time = now()
        </set>
        WHERE
        <foreach collection="idsArray" item="data" separator="OR">
			data_id = #{data}
        </foreach>
    </update>
    <!-- workDistribute 끝 -->

    <!-- selectAssignmentDatasNum 시작 -->
    <select id="selectAssignmentDatasNum" resultType="Integer" parameterType="Integer">
        select count(*)      
        from datas d
        <where>
            and d.assignment_id = #{assignment_id}
            and d.data_status = #{data_status}
        </where>
    </select>
    <!-- selectAssignmentDatasNum 끝 -->

    <!-- selectWorkDatasNum 시작 -->
    <select id="selectWorkDatasNum" resultType="Integer" parameterType="Integer">
        select count(*)      
        from datas d
        <where>
            and d.work_id = #{work_id}
            and d.data_status = #{data_status}
            <if test="user_id != 0">and d.user_id = #{user_id}</if>
        </where>
    </select>
    <!-- selectWorkDatasNum 끝 -->

    <!-- searchDatas 시작 -->
    <select id="searchDatas" resultType="com.startuplab.vo.Datas" parameterType="com.startuplab.common.vo.SearchKeyWord">
        select d.*
        , fn_get_code_name('data_status', d.data_status) data_status_name   
        from datas d
        <where>
            json_extract(data_json, concat('$."',#{columnName},'"')) like concat('%',#{keyword},'%')
            and work_id = #{work_id}
            and data_status = #{data_status}
            
        </where>
    </select>
    <!-- searchDatas 끝 -->
    <!-- selectUser 시작 -->
    <select id="selectMetas" resultType="com.startuplab.common.vo.MetaData" parameterType="com.startuplab.common.vo.MetaData">
        select m.*
        , fn_get_code_name('meta_type', m.meta_type) meta_type_name     
        from metas m
        <where>
            and m.work_id = #{work_id}
        </where>
    </select>
    <!-- selectUser 끝 -->
    <!-- selectUser 시작 -->
    <select id="selectAllAssignment" resultType="com.startuplab.vo.Assignment" parameterType="com.startuplab.common.vo.MetaData">
        select a.*     
        from assignments a
    </select>
    <!-- selectUser 끝 -->
    <!-- selectUser 시작 -->
    <select id="selectAllWork" resultType="com.startuplab.vo.Work" parameterType="com.startuplab.common.vo.MetaData">
        select w.*     
        from works w
        <where> 
            <if test="assignment_id != null">and w.assignment_id = #{assignment_id}</if>           
        </where>
    </select>
    <!-- selectUser 끝 -->

    <!-- eamilToId 시작 -->
    <select id="emailToId" resultType="int" parameterType="com.startuplab.vo.User">
        select user_id from users
        <where>
            <if test="user_email != null"> user_email = #{user_email} </if>
        </where>
    </select>
    <!-- eamilToId 끝 -->
</mapper>
<!-- <where>  select usermapper
    <if test="assignment_id == 0"> 1=1 </if>
    <if test="assignment_id != 0"> and u.assignment_id = #{assignment_id} </if>
</where> -->